version: "3"

services:
  db:
    image: postgres:13.1
    env_file:
      - environment.env
    restart: always
    ports:
      - "5434:5433"
    healthcheck:
      test: "exit 0"
    volumes:
      - postgres:/var/lib/postgresql

  redis:
    image: redis:6.2.0
    restart: always

  backend:
    image: descriptor-backend
    build: .
    entrypoint: ./entrypoint.sh
    ports:
      - "4050:3000"
    volumes:
      - .:/app
    depends_on:
      - db
    env_file:
      - environment.env
    restart: always

  sidekiq:
    image: descriptor-backend
    command: 'bundle exec sidekiq'
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - backend
    env_file:
      - environment.env
    restart: always
    
volumes:
  postgres:
